html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.grid-row-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.square {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid black;
}

.square-hover {
    background-color:black;
}